body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header{
    background-color: grey;
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-container{
    width: 20%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-button{
    width: 80%;
    padding: 4px;
    margin: 3px;
}

.project-ul{
    width: 100%
}
.project-li{
    cursor: pointer;
}
.project-li[active = true]{
    background-color: red;
}

.project-name{
    /* user-select: none; */
    flex-grow: 1;
}

.project-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content-container{
    flex-grow: 1;
    display: flex;
}


.view-container{
    flex-grow: 1;
}

.view-project-heading{
    text-align: center;
}

.task-container{
    display: flex;
    justify-content: space-between;

}

.task-container p{
    width: 15%;
    word-wrap: break-word;
}

footer{
    text-align: center;
    background-color: grey;
}


/*experimentalshit*/
p input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  background-color: blue;
}